:root {
  /* Colors */
  --fox-primary: #e8f2fe;
  --fox-dark: #010727;
  /* Font size */
  --sm: 1.2rem;
  --md: 1.8rem;
  --lg: 2.4rem;
  --title: 3rem;

  /* Weight */
  --light: 300;
  --medium: 500;
  --bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Fira Code", monospace;
  /* width: 320px; 
  margin: 0 auto; */
}

h1 {
  font-size: var(--lg);
}

h2 {
  font-size: var(--md);
  padding: 2px 0;
}
p {
  font-size: var(--sm);
  font-weight: var(--medium);
}


.header {
  display: flex;
  place-content: center;
}

.header img {
  width: 250px;
}



.bg-gris {
  /* background-color: rgb(251, 223, 245); */
  padding: 4px;
}

main {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1024px;
  height: 70vh;
  overflow-y: scroll;
}



.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1024px;;
  background-color: #fffbf5;
}


.images  {
  display: grid;
  place-content: center;
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/button-add-fox.svg) no-repeat ;
  height: 80px;
  width: 80px;
  cursor: pointer;
  border: none;
}

.img {
  border-radius: 24px;
  width: 250px;
}



/** Scroll **/

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(251, 223, 245) #2f1a04;
}

/* Works on Chrome, Edge, and Safari */

main::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  background: #ffdab2; /* color of the tracking area */
  border-radius: 24px;
}

main::-webkit-scrollbar-thumb {
  background-color: #f56e27; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */

}